body{
  background-color: black;
  text-align: center;
  color: white;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.downloadlink {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.copyright {
  color: gray;
  text-align: right;
}
